<div class="text-center p-1">
  <% obj.each do |article| %>
  <a href="<%= article_path(article) %>" class="no-underline burgandy">
    <div class="bg-white block border border-grey-light mx-auto my-8 py-10 rounded shadow hover:shadow-lg sm:w-3/4">
      <h1 class="fancy-font burgandy"><%= article.title %></h1>
      <div class="leading-normal normal-font p-8 text-black text-lg">
        <% if article.description.blank? then %>
          <%= truncate(strip_tags(article.editor1), length: 600) %>
        <% else %>
          <%= truncate(strip_tags(article.description), length: 600) %>
        <% end %>
      </div>
      <small class="block burgandy mx-auto px-6">Created by <%= article.user.username if article.user %>
        <%= time_ago_in_words(article.created_at) %> ago,
        Last updated: <%= time_ago_in_words(article.updated_at) %> ago
      </small>
      <% if article.categories.any? %>
      <p class="py-6 normal-font"> Categories: <%= render article.categories %> </p>
      <% end %>
      <div class="justify-center mx-auto py-2 sm:flex sm:w-3/4 md:w-1/2">
        <% if logged_in? %>
        <%= link_to "Edit", edit_article_path(article), class: "bg-white block border border-green-darker hover:bg-green-darkest hover:text-green-lightest mx-auto my-4 no-underline normal-font py-3 rounded shadow-lg text-green-darkest w-48" %>
        <%= link_to "Destroy", article_path(article), method: :delete,
                              data: {confirm: "Are you sure you want to delete the article?"},
                              class: "bg-white block border border-red-darker hover:bg-red-darkest hover:text-red-lightest mx-auto my-4 no-underline normal-font py-3 rounded shadow-lg w-48" %>
        <% end %>
      </div>
    </div>
  </a>
  <% else %>
  <%= nil %>
  <% end %>
</div>