<%= render 'shared/errors', obj: @article %>

<div class="bg-white container mx-auto rounded shadow-lg p-6">
  <%= form_for @article do |f| %>
  <%= form_for(@article, :html => {role: "form"}) do |f| %>
  <div class="">


  </div>
  <div class="w-3/4 mx-auto">
    <%= f.text_field :title, placeholder: "Title of Article", autofocus: true,
            class:"form-title fancy-font block border border-red-900 focus:border-red-900 focus:shadow-lg p-4 rounded shadow text-center w-full" %>
  </div>

  <div class="w-3/4 mx-auto block border border-red-900 focus:border-red-900 focus:shadow-lg my-12 rounded shadow">
    <%= f.text_area :body, rows: 27, placeholder: "Body", id: "editor1" %>
    <!-- <textarea name="editor1" id="editor1" rows="27" class="form-description" placeholder="Body"></textarea> -->
  </div>

  <div class="category-boxes py-6 text-center">
    <h3 class="fancy-font pb-6 burgandy text-2xl underline">Category</h3>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
    <%= cb.label(class: "inline-flex mx-6 normal-font text-lg burgandy") {cb.check_box(class: "checkbox mr-2") + cb.text} %>
    <% end %>
  </div>

  <%= f.submit class: "py-3 bg-white block border border-green-800hover:bg-green-900 hover:text-green-100 mx-auto my-4 no-underline normal-font rounded shadow-lg text-green-900 w-48" %>
  <% end %>
  <% end %>

  <div class="py-16 text-center">
    <%= link_to "Cancel Request and Return to Articles Listing", articles_path, class: "burgandy fancy-font hover:underline no-underline" %>
  </div>
</div>

<% content_for :javascripts do %>
<script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
<script>CKEDITOR.replace('editor1');</script>
<script type='text/javascript' charset='UTF-8'>
  $(document).ready(function () {
    $('form[data-remote]').bind('ajax:before', function () {
      for (instance in CKEDITOR.instances) {
        CKEDITOR.instances[instance].updateElement();
      }
    });
  });
</script>
<% end %>