<%= render 'shared/errors', obj: @article %>

<div class="bg-white container mx-auto rounded shadow">
  <%= form_for(@article, :html => {class: "", role: "form"}) do |f| %>
    <div class="">
      <!-- <%= f.label :title, class: "w-3/4"%> -->
      <%= f.text_field :title, placeholder: "Title of Article", autofocus: true,
            class:"block border border-red-darkest focus:border-red-darkest focus:shadow-lg mx-auto p-4 rounded shadow text-center w-3/4" %>
    </div>

  <div class="">
    <!-- <%= f.label :description %> -->
    <%= f.text_area :description, rows: 27, class: "form-control", placeholder: "Body" %>
  </div>

  <div class="">
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
    <%= cb.label(type: "checkbox", class: "m-4") {cb.check_box(type: "checkbox", class: "m-4") + cb.text} %>
    <% end %>
  </div>

  <div class="">
    <%= f.submit class: "bg-white block border border-green-darker hover:bg-green-darkest hover:text-green-lightest mx-auto my-4 no-underline normal-font py-3 rounded shadow-lg text-green-darkest w-48" %>
  </div>
 <% end %>

 <div class="col-cs-4" align="center">
    <%= link_to "Cancel Request and Return to Articles Listing", articles_path %>
  </div>
</div>


