<section class="article-show py-16">
  <div class="container mx-auto p-6">
    <div class="bg-white shadow-lg rounded-lg mx-auto p-6">
      <h1 class="burgandy fancy-font pb-16 pt-8 text-center"><%= @article.title %></h1>
      <div class="w-3/4 mx-auto pb-6 normal-font leading-loose xl:text-lg text-gray-900" id="article">
        <% if @article.description.blank? then %>
          <%= simple_format(@article.editor1) %>
        <% else %>
          <%= @article.description %>
        <% end %>
      </div>
      <% if @article.categories.any? %>
      <p class="normal-font text-black text-center py-4">Categories: <%= render @article.categories%></p>
      <% end %>

      <div class="md:w-4/5 mx-auto py-4 sm:flex text-center">
        <% if logged_in? %>
        <%= link_to "Edit this Article", edit_article_path(@article), 
          class: "py-3 bg-white block border border-green-800hover:bg-green-900 hover:text-green-100 mx-auto my-4 no-underline normal-font rounded shadow-lg text-green-900 w-48" %>
        <%= link_to "Destroy this Article", article_path(@article), method: :delete,
            data: {confirm: "Are you sure you want to destroy the article?"},
            class: "bg-white block border border-red-800hover:bg-red-900 burgandy hover:text-red-600-100 mx-auto my-4 no-underline normal-font py-3 rounded shadow-lg w-48" %>

        <%= link_to "View all Articles", articles_path, 
          class: "bg-white block border border-blue-800text-blue-600 button hover:text-blue-100 hover:bg-blue-900 mx-auto my-4 no-underline normal-font py-3 rounded shadow-lg w-48"%>

        <% else %>
        <%= link_to "View all Articles", articles_path, 
          class: "bg-white block border border-red-800hover:bg-red-900 burgandy hover:text-red-600-100 mx-auto my-4 no-underline normal-font py-3 rounded shadow-lg w-48"%>
        <% end %>
      </div>
    </div>
  </div>
</section>