<footer class="py-4 hidden relative text-center w-full bg-white">
    <div class="container mx-auto">
        <p class="block normal-font text-center text-sm">
            No copyright, take whatever you want. <a href="https://alextheyounger.me" class="burgandy">alexyounger.me</a> by Alex Younger. This site was built with Ruby on Rails and TailwindCSS.
        </p>
        <p class="block normal-font text-center text-sm">Fractal terrain generator javascript adapted from <a href="https://codepen.io/ge1doot/pen/ZPpWaR" rel="nofollow" target="_blank" class="burgandy">https://codepen.io/ge1doot/pen/ZPpWaR</a>.</p>
        <div class="flex sm:block py-4 text-center w-full">
            <a href="<%= $linkedin %>" class="w-16 no-underline burgandy fa fa-lg fa-linkedin"></a>
            <a href="<%= $facebook %>" class="w-16 no-underline burgandy fa fa-lg fa-facebook"></a>
            <a href="<%= $twitter %>" class="w-16 no-underline burgandy fa fa-lg fa-twitter"></a>
            <a href="<%= $github %>" class="w-16 no-underline burgandy fa fa-lg fa-github"></a>
            <a href="<%= $codepen %>" class="w-16 no-underline burgandy fa fa-lg fa-codepen"></a>        
            <a href="<%= $medium %>" class="w-16 no-underline burgandy fa fa-lg fa-medium"></a>
            <a href="mailto:<%= $email %>" class="w-16 no-underline burgandy fa fa-lg fa-envelope-o"></a>
        </div>
    </div>
</footer>