<table class="bg-blue-lighter border-blue-light mx-auto shadow-lg lg:w-3/4">
  <thead class="bg-grey-lightest">
    <tr class="justify-between">
      <th class="p-2 md:p-4 normal-font text-black text-lg">Name</th>
      <th class="p-2 md:p-4 normal-font text-black text-lg">Symbol</th>
      <th class="p-2 md:p-4 normal-font text-black text-lg">Position</th>
      <th class="p-2 md:p-4 normal-font text-black text-lg">Current Price</th>
      <th class="p-2 md:p-4 normal-font text-black text-lg hidden sm:table-cell">Percent Change YTD</th>
      <th class="p-2 md:p-4 normal-font text-black text-lg hidden sm:table-cell">Industry</th>
    </tr>
  </thead>

  <tbody>
    <% if @stocks %>
    <% @stocks.each do |stock | %>
    <tr class="justify-between">
      <td class="p-2 md:p-4 normal-font text-black text-left"><%= stock.company_name%></td>
      <td class="p-2 md:p-4 normal-font text-black text-center"><%= stock.symbol %></td>
      <td class="p-2 md:p-4 normal-font text-black text-left"><%= stock.position %></td>
      <td class="p-2 md:p-4 normal-font text-black text-center"><%= stock.latest_price %></td>
      <td class="p-2 md:p-4 normal-font text-black text-center hidden sm:table-cell"><%= stock.ytd_change_percent ? number_to_percentage(stock.ytd_change_percent) : nil %></td>
      <td class="p-2 md:p-4 normal-font text-black text-center hidden sm:table-cell"><%= stock.industry %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>