<section class="about py-16">
  <h1 class="fancy-font burgandy text-center">My Story</h1>
  <%= image_tag("journey.svg", :alt => "alex younger about my journey", class: "mx-auto block w-48") %>
  <p class="text-center normal-font text-lg">I've worked in several different industries, and
    all of them have contributed to who I am today.</p>

  <div class="timeline container relative mx-auto normal-font leading-normal">
    <div class="timeline-item w-full my-16">
      <div class="timeline-img w-8 h-8 bg-red-darkest absolute mt-6"></div>
      <div class="timeline-content js--fadeInLeft relative w-2/5 p-10 bg-grey-light shadow-lg">
        <%= image_tag("zipline_trees.svg", :alt => "alex younger about zipline", class: "w-32") %>
        <h2>Tour Guide</h2>
        <div class="pin-r pin-t absolute p-3 text-red-lightest bg-red-darkest inline-block">August 2013 - June 2017</div>
        <p>I became a Zipline Tour Guide at Historic Banning Mills during high school. Ironically I was afraid of heights when
          I first started; I just needed a job. Little did I know that this job would shape me into a good-willed, respectable,
          and continually improving human being. I worked there for nearly five years.</p>
      </div>
    </div>

    <div class="timeline-item w-full my-16">
      <div class="timeline-img w-8 h-8 bg-red-darkest absolute mt-6"></div>
      <div class="timeline-content js--fadeInRight relative w-2/5 p-10 bg-grey-light shadow-lg">
        <h2 class="py-3"><i id="fa-icon" class="fa fa-graduation-cap"></i>College</h2>
        <div class="pin-r pin-t absolute p-3 text-red-lightest bg-red-darkest inline-block">Sep 2014 - 2016</div>
        <p>Like many students, I was pressured into going to college right out of high school. All I knew was that I loved economics, so I pursued for an econ degree, not
          even knowing how I could ever make any money with it. I attended Georgia Highlands College, a small community college
          with the intent of transferring to UGA after two years. I didn't finish, not
          because of grades, but because after two years I was told that I was advised incorrectly on what classes to take.
          The college claimed I needed another year to complete a two year degree. This simply confirmed what I
          already suspected: that college is mostly a scam and largely a waste of time. <b>I learned no marketable skills here, and I
            wish I had never attended college in the first place.</b></p>
      </div>
    </div>
    <div class="timeline-item w-full my-16">
      <div class="timeline-img w-8 h-8 bg-red-darkest absolute mt-6"></div>
      <div class="timeline-content js--fadeInLeft relative w-2/5 p-10 bg-grey-light shadow-lg">
        <picture>
          <source srcset="<%= image_path("black-praxis.png.webp") %>" type="image/webp">
          <source srcset="<%= image_path("black-praxis.png") %>" type="image/png">
          <img src="<%= image_path("black-praxis.png") %>" class="" alt="Grand Canyon Heli Adventure" />
        </picture>
        <h2>Praxis</h2>
        <div class="pin-r pin-t absolute p-3 text-red-lightest bg-red-darkest inline-block">May 2017</div>
        <p><a class="no-underline burgandy hover:underline" target="_blank" rel="nofollow" href="discoverpraxis.com">Praxis</a> is an organization that
          connects driven, entrepreneurial-minded kids with startup companies to learn business skills through an
          apprenticeship. Only 1% of applicants are accepted into the program, and luckily I passed. It was a great choice for me
          because I had no idea what I wanted to do with my life, and a startup is a place where I could wear many hats.
          The program taught me, and continues to teach me, self-marketing skills and crucial business skills.
          Companies like this are going to reinvent the education industry.</p>
      </div>
    </div>

    <div class="timeline-item w-full my-16">
      <div class="timeline-img w-8 h-8 bg-red-darkest absolute mt-6"></div>
      <div class="timeline-content js--fadeInRight relative w-2/5 p-10 bg-grey-light shadow-lg">
        <%= image_tag("building.svg", :alt => "alex younger about khorus software", class: "w-32") %>
        <h2>Khorus Software</h2>
        <div class="pin-r pin-t absolute p-3 text-red-lightest bg-red-darkest inline-block">Aug 2017 - Feb 2018</div>
        <p>Praxis connected me with <a class="no-underline burgandy hover:underline" target="_blank" rel="nofollow"
            href="https://en.wikipedia.org/wiki/Joel_Trammell">Joel Trammell</a>
          , Founder of Khorus Software and current CEO of BlackBox Network Services. I read Joel's book,
          <a class="no-underline burgandy hover:underline" target="_blank" rel="nofollow"
            href="https://www.amazon.com/CEO-Tightrope-Master-Balancing-Successful/dp/1626341060/ref=sr_1_1?s=books&ie=UTF8&qid=1515986582&sr=1-1&keywords=the+ceo+tightrope+by+joel+trammell">
            <i>The CEO Tightrope</i></a>, and agreed with his philosophy completely; I told Praxis that I absolutely wanted to work for Joel.
          I wore many hats at Khorus, but my main role was in marketing. I always found myself migrating to programming and I even modified an <a
            class="no-underline burgandy hover:underline" target="_blank" rel="nofollow"
            href="https://gist.github.com/AlextheYounga/26faf858c673f2ceb1efd5574cfbc5fe">Excel macro</a>
          I found that helped increase our outbound marketing by 900%. This is when I started realizing I wanted to devote all my time to
          developing.
        </p>
      </div>
    </div>

    <div class="timeline-item w-full my-16">
      <div class="timeline-img w-8 h-8 bg-red-darkest absolute mt-6"></div>
      <div class="timeline-content js--fadeInLeft relative w-2/5 p-10 bg-grey-light shadow-lg">
        <h2 class="py-3"></i> The Hard Times </h2>
        <div class="pin-r pin-t absolute p-3 text-red-lightest bg-red-darkest inline-block">Feb 2018 - May 2018</div>
        <p>I'm very grateful for my internship at Khorus, however, when the internship ended, Joel simply didn't have the resources to keep me on as a full employee. So
          sadly, I was unemployed for about 4 months in a city I had just moved to, which is an experience I would never wish on anyone. Living on my savings and ham
          sandwiches I devoted most of my time to learning Ruby on Rails. I refused to go home a failure and I was sick of Texas; I managed to snag another zipline job in
          Colorado: the place I'd always wanted to live. I used the last 2 grand I had in savings to move there. I arrived more or less with nothing, but I'll never
          regret that decision.</p>
      </div>
    </div>

    <div class="timeline-item w-full my-16">
      <div class="timeline-img w-8 h-8 bg-red-darkest absolute mt-6"></div>
      <div class="timeline-content js--fadeInRight relative w-2/5 p-10 bg-grey-light shadow-lg">
        <%= image_tag("mountains.svg", :alt => "alex younger zipline colorado" ) %>
        <h2>Colorado Tour Guide</h2>
        <div class="pin-r pin-t absolute p-3 text-red-lightest bg-red-darkest inline-block">May 2018 - October 2018</div>
        <p>I spent the next 6 months living in Cañon City working as a zipline tour guide, working with seriously some of the best people I've ever met in my life. The
          most appealing aspect about outdoor jobs like these are the people who work them; they're irreplaceable. There's nothing like guiding a tour all day through the
          mountains and then rock climbing with coworkers on Shelf Road, (one of the best rock climbing spots in the state). But in all other moments of spare time, I was
          programming, trying to build a portfolio.</p>
      </div>
    </div>

    <div class="timeline-item w-full my-16">
      <div class="timeline-img w-8 h-8 bg-red-darkest absolute mt-6"></div>
      <div class="timeline-content js--fadeInLeft relative w-2/5 p-10 bg-grey-light shadow-lg">
        <%= image_tag("buildings.svg", :alt => "alex younger izoox developer", class: "w-32" ) %>
        <h2>Developer & Marketing Analyst</h2>
        <div class="pin-r pin-t absolute p-3 text-red-lightest bg-red-darkest inline-block">October 2018 - Present</div>
        <p>Out of sheer luck I ran across Matt, my now-boss. He was in need of a junior developer and I fit the bill. I told him, "give me a month to prove myself, let me
          work at half the rate you would normally pay. If I prove myself, hire me on as an employee. If I can't prove my value to your company after 30 days, please let
          me go." The rest is history. I have been working with <a href="https://www.izoox.com/" target="_blank" rel="nofollow"
            class="no-underline burgandy hover:underline">Izoox</a> ever since, and our partner
          company <a href="https://www.codepoetllc.com/" target="_blank" rel="nofollow" class="no-underline burgandy hover:underline">Codepoet</a>. I'm currently living
          in Longmont Colorado and grateful of every
          second.</p>
      </div>
    </div>
  </div>
</section>

<!-- Scroll Reveal -->
<% content_for :javascripts do %>
<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js"></script>
<script>
  $(document).ready(function () {
    window.sr = ScrollReveal();
    if ($(window).width() < 768) {
      if ($('.timeline-content').hasClass('js--fadeInLeft')) {
        $('.timeline-content').removeClass('js--fadeInLeft').addClass('js--fadeInRight');
      }
      sr.reveal('.js--fadeInRight', {
        origin: 'right',
        distance: '300px',
        easing: 'ease-in-out',
        duration: 800,
      });
    } else {
      sr.reveal('.js--fadeInLeft', {
        origin: 'left',
        distance: '300px',
        easing: 'ease-in-out',
        duration: 800,
      });
      sr.reveal('.js--fadeInRight', {
        origin: 'right',
        distance: '300px',
        easing: 'ease-in-out',
        duration: 800,
      });
    }
    // sr.reveal('.js--fadeInLeft', {
    //   origin: 'left',
    //   distance: '300px',
    //   easing: 'ease-in-out',
    //   duration: 800,
    // });
    // sr.reveal('.js--fadeInRight', {
    //   origin: 'right',
    //   distance: '300px',
    //   easing: 'ease-in-out',
    //   duration: 800,
    // });
  });
</script>
<% end %>