<section class="about py-16">
  <h1 class="fancy-font burgandy text-center">My Story</h1>
  <%= image_tag("journey.svg", :alt => "journey", class: "mx-auto block w-48") %>
  <p class="text-center normal-font text-lg">I've worked in several different industries, and
    all of them have contributed to who I am today.</p>

  <div class="timeline container relative mx-auto normal-font leading-normal">
    <div class="timeline-item w-full my-16">
      <div class="timeline-img w-8 h-8 bg-red-darkest absolute mt-6"></div>
      <div class="timeline-content js--fadeInLeft relative w-2/5 p-10 bg-grey-light shadow-lg">
        <%= image_tag("zipline_trees.svg", :alt => "alex younger about zipline", class: "w-32") %>
        <h2>Tour Guide</h2>
        <div class="pin-r pin-t absolute p-3 text-red-lightest bg-red-darkest inline-block">August 2013 - June 2017</div>
        <p>I became a Zipline Tour Guide at Historic Banning Mills during high school. Ironically I was afraid of heights when
          I first started; I just needed a job. Little did I know that this job would shape me into a good-willed, respectable,
          and continually improving human being. I worked there for nearly five years.</p>
      </div>
    </div>

    <div class="timeline-item w-full my-16">
      <div class="timeline-img w-8 h-8 bg-red-darkest absolute mt-6"></div>
      <div class="timeline-content js--fadeInRight relative w-2/5 p-10 bg-grey-light shadow-lg">
        <h2 class="py-3"><i id="fa-icon" class="fa fa-graduation-cap"></i> Georgia Highlands College</h2>
        <div class="pin-r pin-t absolute p-3 text-red-lightest bg-red-darkest inline-block">Sep 2014 - 2016</div>
        <p>Like many students, I was pressured into going to college right out of high school. I attended Georgia Highlands College
          with the intent of transferring to UGA, in pursuit of an economics degree. I didn't finish, not
          because of grades, but because after two years I was told that I was advised incorrectly on what classes to take.
          The college claimed I needed another year to complete a two year degree. This simply confirmed what I
          already suspected: that college is mostly a scam and largely a waste of time. <b>I learned no marketable skills here, and I
            wish I had never attended college.</b></p>
      </div>
    </div>

    <!-- <div class="timeline-item w-full my-16">
      <div class="timeline-img w-8 h-8 bg-red-darkest absolute mt-6"></div>
      <div class="timeline-content js--fadeInLeft relative w-2/5 p-10 bg-grey-light shadow-lg">
        <h2><i id="fa-icon" class="fa fa-code"></i> Self-Learning & Interest in Programming</h2>
        <div class="pin-r pin-t absolute p-3 text-red-lightest bg-red-darkest inline-block">2015 - 2016</div>
        <p>Worried that I wasn't learning marketable skills in college, I supplemented it with my own personal learning curriculum.
          I first started taking classes on <a class="no-underline burgandy hover:underline" target="_blank" rel="nofollow" href="https://onemonth.com/">OneMonth.com</a>
          and completed courses in
          <a class="no-underline burgandy hover:underline" target="_blank" rel="nofollow" href="https://onemonth.com/courses/pfnp"><b>HTML/CSS</b></a>,
          <a class="no-underline burgandy hover:underline" target="_blank" rel="nofollow" href="https://onemonth.com/courses/content-marketing"><b>Content
              Marketing</b></a>, and
          <a class="no-underline burgandy hover:underline" target="_blank" rel="nofollow" href="https://onemonth.com/courses/growth-hacking"><b>Growth Hacking</b></a>. I
          discovered my interest in technology,
          and built my first few websites, (which were very embarassing).
          I discovered <a class="no-underline burgandy hover:underline" target="_blank" rel="nofollow" href="udemy.com">Udemy</a>, where I took classes in
          <a class="no-underline burgandy hover:underline" target="_blank" rel="nofollow"
            href="https://www.udemy.com/javascript-from-beginner-to-expert-bring-life-to-your-site/learn/v4/overview">
            <b>Javascript</b></a>,
          <a class="no-underline burgandy hover:underline" target="_blank" rel="nofollow" href="https://www.udemy.com/dc-level-1/"><b>Chinese</b></a>, and
          <a class="no-underline burgandy hover:underline" target="_blank" rel="nofollow"
            href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course/learn/v4/overview"><b>Ruby on Rails.</b></a>
        </p>
      </div>
    </div> -->

    <div class="timeline-item w-full my-16">
      <div class="timeline-img w-8 h-8 bg-red-darkest absolute mt-6"></div>
      <div class="timeline-content js--fadeInLeft relative w-2/5 p-10 bg-grey-light shadow-lg">
        <%= image_tag("black-praxis.png", :alt => "praxis") %> 
        <h2>Praxis</h2>
        <div class="pin-r pin-t absolute p-3 text-red-lightest bg-red-darkest inline-block">May 2017</div>
        <p><a class="no-underline burgandy hover:underline" target="_blank" rel="nofollow" href="discoverpraxis.com">Praxis</a> is an organization that
          connects driven, entrepreneurial-minded kids with startup companies to learn business skills through an
          apprenticeship. Only 1% of applicants are accepted into the program, and luckily I passed. It was a great choice for me
          because I had no idea what I wanted to do with my life, and a startup is a place where I could wear many hats.
          The program taught me, and continues to teach me, self-marketing skills and crucial business skills.
          Companies like this are going to reinvent the education industry.</p>
      </div>
    </div>

    <div class="timeline-item w-full my-16">
      <div class="timeline-img w-8 h-8 bg-red-darkest absolute mt-6"></div>
      <div class="timeline-content js--fadeInRight relative w-2/5 p-10 bg-grey-light shadow-lg">
        <%= image_tag("building.svg", :alt => "alex younger about khorus software", class: "w-32") %>
        <h2>Khorus Software</h2>
        <div class="pin-r pin-t absolute p-3 text-red-lightest bg-red-darkest inline-block">Aug 2017 - Feb 2018</div>
        <p>Praxis connected me with <a class="no-underline burgandy hover:underline" target="_blank" rel="nofollow"
            href="https://en.wikipedia.org/wiki/Joel_Trammell">Joel Trammell</a>
          , Founder of Khorus Software and current CEO of BlackBox Network Services. I read Joel's book,
          <a class="no-underline burgandy hover:underline" target="_blank" rel="nofollow"
            href="https://www.amazon.com/CEO-Tightrope-Master-Balancing-Successful/dp/1626341060/ref=sr_1_1?s=books&ie=UTF8&qid=1515986582&sr=1-1&keywords=the+ceo+tightrope+by+joel+trammell">
            <i>The CEO Tightrope</i></a>, and agreed with his philosophy completely; I told Praxis that I absolutely wanted to work for Joel.
          I wore many hats, but I found myself migrating to programming. I helped design the pricing page for the Khorus website, and
          I modified an <a class="no-underline burgandy hover:underline" target="_blank" rel="nofollow"
            href="https://gist.github.com/AlextheYounga/26faf858c673f2ceb1efd5574cfbc5fe">Excel macro</a>
          I found that helped increase our outbound marketing by 900%. This is when I learned I wanted to devote all my time to
          development.
        </p>
      </div>
    </div>

    <div class="timeline-item w-full my-16">
      <div class="timeline-img w-8 h-8 bg-red-darkest absolute mt-6"></div>
      <div class="timeline-content js--fadeInLeft relative w-2/5 p-10 bg-grey-light shadow-lg">
        <h2 class="py-3"><i id="fa-icon" class="fa fa-diamond"></i> Junior Ruby/Rails Developer</h2>
        <div class="pin-r pin-t absolute p-3 text-red-lightest bg-red-darkest inline-block">Feb 2018</div>
        <p>I'm currently working as a freelance Ruby/Rails developer. Hire me if you're looking for beautiful HTML/CSS/Javascript
          design or looking to create a Ruby/Rails application.</p>
      </div>
    </div>

    <div class="timeline-item w-full my-16">
      <div class="timeline-img w-8 h-8 bg-red-darkest absolute mt-6"></div>
      <div class="timeline-content js--fadeInRight relative w-2/5 p-10 bg-grey-light shadow-lg">
        <%= image_tag("mountains.svg", :alt => "alex younger zipline colorado" ) %>
        <h2>Colorado Tour Guide</h2>
        <div class="pin-r pin-t absolute p-3 text-red-lightest bg-red-darkest inline-block">Apr 2018 - October 2018</div>
        <p>I am currently living in Cañon City, Colorado and I am back to my roots as a Zipline Tour Guide at the Royal Gorge in Cañon City. Tour guide
          by day, developer by night. </p>
      </div>
    </div>

    <div class="timeline-item w-full my-16">
        <div class="timeline-img w-8 h-8 bg-red-darkest absolute mt-6"></div>
        <div class="timeline-content js--fadeInLeft relative w-2/5 p-10 bg-grey-light shadow-lg">
          <%= image_tag("buildings.svg", :alt => "alex younger izoox developer", class: "w-32" ) %>
          <h2>Developer & Marketing Analyst</h2>
          <div class="pin-r pin-t absolute p-3 text-red-lightest bg-red-darkest inline-block">October 2018 - Present</div>
          <p>I am currently living in Longmont Colorado working as a full-time developer</p>
        </div>
      </div>
  </div>
</section>

<!-- Scroll Reveal -->
<% content_for :javascripts do %>
<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js"></script>
<script>
  $(document).ready(function () {
    window.sr = ScrollReveal();
    if ($(window).width() < 768) {
      if ($('.timeline-content').hasClass('js--fadeInLeft')) {
        $('.timeline-content').removeClass('js--fadeInLeft').addClass('js--fadeInRight');
      }
      sr.reveal('.js--fadeInRight', {
        origin: 'right',
        distance: '300px',
        easing: 'ease-in-out',
        duration: 800,
      });
    } else {
      sr.reveal('.js--fadeInLeft', {
        origin: 'left',
        distance: '300px',
        easing: 'ease-in-out',
        duration: 800,
      });
      sr.reveal('.js--fadeInRight', {
        origin: 'right',
        distance: '300px',
        easing: 'ease-in-out',
        duration: 800,
      });
    }
    sr.reveal('.js--fadeInLeft', {
      origin: 'left',
      distance: '300px',
      easing: 'ease-in-out',
      duration: 800,
    });
    sr.reveal('.js--fadeInRight', {
      origin: 'right',
      distance: '300px',
      easing: 'ease-in-out',
      duration: 800,
    });
  });
</script>
<% end %>