<p id="generator-notice" class="text-sm sm:text-lg absolute left-0 m-4 sm:m-3 text-black">Generating random fractal terrain...</p>
<div class="wrapper w-5/6 sm:w-3/5 mx-auto max-w-3xl">
  <section class="hero mt-16 w-1/2 sm:w-1/3 mx-auto sm:mt-0 mb-4 relative home-content js--fadeInLeft">
    <picture>
      <source srcset="<%= image_path("hammock-circle.png.webp") %>" type="image/webp">
      <source srcset="<%= image_path("hammock-circle.png") %>" type="image/png">
      <img src="<%= image_path("hammock-circle.png") %>" class="flex sm:mt-10 mx-auto relative text-center" alt="alex younger developer marketing about me"/>
    </picture>
  </section>

  <section class="title mb-8 bg-white shadow rounded relative home-content js--fadeInLeft">
    <h1 class="fancy-font text-5xl text-black text-center">Alex Younger</h1>
    <p class="fancy-font py-2 text-black text-center text-lg">Web Developer, Investor, Data Scientist, Entrepreneur</p>
  </section>

  <section class="bg-white my-8 py-8 shadow relative rounded z-10 home-content js--fadeInLeft">
    <div class="language-stats">
      <h2 class="mb-3 text-3xl text-gray-900 fancy-font sm:px-8">Skills</h2>
      <%= render partial: "language_bar/language_bar", locals: {languageStats: @languageStats} %>
    </div>
  </section>

  <section class="home-description relative bg-white mt-24 mb-8 p-8 home-content js--fadeInLeft shadow">
    <div class="absolute top-0 left-0">
      <picture>
        <source srcset="<%= image_path("headshot.png.webp") %>" type="image/webp" class="flex force-vertical-align mx-auto relative text-center w-3/4">
        <source srcset="<%= image_path("headshot.png") %>" type="image/png">
        <img src="<%= image_path("headshot.png") %>" class="flex force-vertical-align mx-auto relative text-center w-3/4" alt="alex younger developer marketing about me"/>
      </picture>
    </div>
    <p class="home-quote italic mt-16 text-sm w-full sm:mt-0 sm:text-right sm:pb-6 sm:ml-auto sm:w-2/3">"The man who grasps principles can successfully handle his own methods. The man who tries methods, ignoring principles is sure to have trouble" -Ralph Waldo Emerson</p>
    <div class="description leading-normal ml-auto normal-font mt-6">
      <p class="py-2">I build and maintain websites for an extensive list of small and large companies including
        <a class="text-blue-600 hover:text-blue-900" href="https://www.bluehawaiian.com/en">Blue Hawaiian Helicopters</a>
        and
        <a class="text-blue-600 hover:text-blue-900" href="https://www.intelligentoffice.com/">Intelligent Office.</a>
      </p>
      <p class="py-2">I am currently starting a side business called Hazlitt Tech LLC, specializing in financial market data and accounting software.</p>
      <p class="py-2">I consult businesses on best practices for Google Ad Campaigns, Analytics, and content marketing techniques.</p>
      <p class="py-2">Check out my latest
        <a href="<%= projects_path %>" class="text-blue-600 hover:text-blue-900">projects</a>.</p>
    </div>
  </section>

  <section class="projects-home p-2 sm:p-8 relative mb-8 bg-white home-content js--fadeInLeft">
    <%= render partial: "partials/projects-carousel" %>
  </section>

  <section class="watchlist-home relative bg-white mb-8 p-2 sm:p-8 home-content js--fadeInLeft shadow">
    <h4 class="fancy-font text-gray-900 text-3xl text-center py-6">Stock Watchlist</h4>
    <p class="py-6 text-center normal-font">I keep a close eye on markets; here's what I'm looking at right now:</p>
    <%= render 'stocks/watchlist' %>
  </section>
</div>

<% content_for :javascripts do %>
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <script>
    window.sr = ScrollReveal();
    view = 'desktop';
    timeout = 1500;
    if ($(window).width() <= 768) {
      view = 'mobile';
      timeout = 2000;
    }

    window.addEventListener("load", function () {
      setTimeout(reveal, timeout);
    }, false);

    function reveal() {
      if (view == 'mobile') {
        $('.home-content').fadeIn();

      } else {      
        sr.reveal('.home-content.js--fadeInLeft', {
          origin: 'left',
          distance: '300px',
          easing: 'ease-in-out',
          duration: 800
        });
      }

      $('#generator-notice').fadeOut('slow');
      $('footer').removeClass('hidden');

      var flky = new Flickity('.projects-carousel', {
        accessibility: true,
        adaptiveHeight: false,
        autoPlay: false,
        cellAlign: 'center',
        cellSelector: undefined,
        contain: false,
        draggable: '>1',
        dragThreshold: 3,
        freeScroll: false,
        friction: 0.2,
        groupCells: false,
        initialIndex: 0,
        lazyLoad: true,
        percentPosition: true,
        prevNextButtons: false,
        pageDots: true,
        resize: true,
        rightToLeft: false,
        setGallerySize: true,
        watchCSS: false,
        wrapAround: false
      });
      $('.carousel-cell').addClass('h-full');
    }
  </script>
<% end %>