<section class="bg-center bg-cover hero min-h-screen sm:bg-bottom">
  <div class="home-content js--fadeInLeft absolute align-baseline mx-auto pin-l pin-r md:px-8 md:py-12 w-2/3">
    <h1 class="fancy-font text-5xl text-blue-lightest text-center">Alex Younger</h1>
    <p class="fancy-font py-2 sm:text-blue-lighter text-center text-lg text-yellow-lightest">Web Developer, Investor, Marketing, Entrepreneur</p>
  </div>
</section>
<section class="about-home bg-grey-lighter py-16 w-full px-4">
<div class="language-stats">
<%= render 'partials/language_stats' %>
</div>
  <div class="flex flex-wrap justify-center rounded-lg shadow text-lg mx-auto lg:w-3/4 bg-white home-content js--fadeInLeft">
    <div class="headshot w-full sm:w-1/2">
      <picture>
        <source srcset="<%= image_path("headshot3_700.png.webp") %>" type="image/webp">
        <source srcset="<%= image_path("headshot3_700.png") %>" type="image/png">
        <img src="<%= image_path("headshot3_700.png") %>" class="flex sm:mt-10 mx-auto relative text-center" width="315" alt="alex younger developer marketing about me"/>
      </picture>
    </div>
    <div class="aboutme-description leading-normal normal-font p-8 w-full sm:w-1/2">
      <p class="py-2">I build and maintain websites for an extensive list of small and large companies.</p>
      <p class="py-2">I am currently building a side business called Hazlitt Tech LLC, a data brokerage for financial markets.</p>
      <p class="py-2">I consult businesses on best practices for Google Ad Campaigns, Analytics, and content marketing techniques.</p>
      <p class="py-2">Check out my latest
        <a href="<%= projects_path %>" class="text-blue hover:text-blue-darkest">projects</a>.</p>
      <a href="<%= about_path %>" class="bg-white block border border-blue-darker hover:bg-blue-darkest text-blue button hover:text-blue-lightest text-center mx-auto my-4 no-underline normal-font py-3 rounded shadow-lg w-48">
        My Story
      </a>
    </div>
  </div>
</section>
<section class="watchlist-home home-content js--fadeInLeft py-16 px-4">
  <h2 class="fancy-font text-blue text-center py-6">My Stock Watchlist</h2>
  <p class="py-6 text-center normal-font">I keep a close eye on markets; here's what I'm looking at right now:</p>
  <%= render 'partials/watchlist' %>
</section>

<!-- Scroll Reveal -->
<% content_for :javascripts do %>
  <script>
    $(document).ready(function () {
      window.sr = ScrollReveal();
      if ($(window).width() < 768) {
        $('.home-content').removeClass('js--fadeInRight');
        $('.home-content').removeClass('js--fadeInLeft');
      } else {
        sr.reveal('.js--fadeInLeft', {
          origin: 'left',
          distance: '300px',
          easing: 'ease-in-out',
          duration: 800
        });
        sr.reveal('.js--fadeInRight', {
          origin: 'right',
          distance: '300px',
          easing: 'ease-in-out',
          duration: 800
        });
      }
    });
    $('.desktop .nav-link')
      .removeClass('burgandy')
      .addClass('text-blue-lightest');

	
    buildLanguageGrid(<%= @langs.html_safe || 'null' %>);
    
    
  </script>
<% end %>