<section class="playground">
  <h1 class="fancy-font pt-16 text-center burgandy">Playground</h1>
  <p class="text-center text-lg py-4 normal-font text-black">A space for random, fun, interactive projects</p>

  <div class="container mx-auto text-center">
    <h3 class="fancy-font pb-4 pt-8">Search for Stocks</h3>
    <div>
      <%= form_tag search_stocks_path, remote: true, method: :get do %>
      <div id="stock-lookup">
        <div class="w-96 sm:w-full mr-1 sm:mr-0 sm:mb-1 z-20">
          <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: false,
              class: "bg-grey-lighter appearance-none border-2 border-yellow-offset hover:border-grey-dark rounded-sm py-4 px-6 sm:w-1/2 md:1/4 lg:w-1/4 text-black text-center" %>
        </div>
        <div>
          <%= button_tag(type: :submit, class: "bg-white block border border-red-darker hover:bg-red-darkest burgandy hover:text-red-lightest mx-auto my-4 no-underline normal-font py-3 rounded shadow-lg w-48") do %>
          <i class="fa fa-search"></i> Search Stock Prices
          <% end %>
        </div>
        <% end %>
      </div>
      <div id="results">
        <%= render 'layouts/result' %>
      </div>
    </div>
    <!-- end stock-lookup -->

    <!-- watchlist -->
    <h3 class="fancy-font pb-12 pt-16 text-center">My Stock WatchList</h3>
    <%= render 'user_stocks/watchlist'%>
    <!-- end watchlist -->
  </div>

</section>
<!-- Stock Result -->
<% content_for :javascripts do %>
<script>
  $(document).ready(function () {
    $('#stock-lookup-form').on('ajax:complete', function (event, data, status) {
      $('#results').html(data.responseText);      
    });
  }); 
</script>
<% end %>