<h1 align="center">Playground</h1>
<p align="center">A space for random, fun, interactive projects</p>
<!-- stock lookup -->
<div>
  <h3 align="center">Search for Stocks</h3>
  <div>
    <%= form_tag search_stocks_path, remote: true, method: :get do %>
    <div id="stock-lookup" class="form-group row no-padding text-center col-md-10">
      <div class="col-md-8">
        <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: false,
                                        class: "form-control search-box input lg" %>
      </div>
      <div class="col-md-2">
        <%= button_tag(type: :submit, class: "btn btn-sm btn-success") do %>
        <i class="fa fa-search"></i> Search Stock Prices
        <% end %>
      </div>
      <% end %>
    </div>
    <div id="results">
      <%= render 'layouts/result' %>
    </div>
  </div>
  <!-- end stock-lookup -->

  <!-- watchlist -->
  <h3 align="center">My Stock WatchList</h3>
  <%= render 'user_stocks/watchlist'%>
  <!-- end watchlist -->
</div>

<!--map-->
<div>
  <iframe id="map" src="https://www.google.com/maps/d/embed?mid=1xjnP9IvzZ5YARi0kVmI3FsPeLi7Yb0y9" width="700"
    height="480"></iframe>
</div>
<!-- end map -->



