<section class="projects">
  <h1 class="fancy-font pt-16 text-center burgandy">My Projects</h1>

  <div class="flex flex-wrap justify-around mx-auto px-4 pb-16 sm:px-4 text-center">
    <% if @projects.any?
      then %>
      <% @projects.each do |project| %>
      <div class="project-container w-1/5 border border-grey-light mx-3 my-16 rounded shadow hover:shadow-lg">
        <a href="<%= project.project_link%>" target="blank" rel="nofollow" class="no-underline">
          <div class="project-details <%= project.bg_color %> h-full py-8">
            <h2 class="fancy-font <%= project.color %>"><%= project.title%></h2>
            <div class="image py-8 mx-auto">
              <picture>
                <source srcset="<%= image_path("#{project.image_address}.webp") %>" type="image/webp" class="w-full" alt="<%= project.image_alt %>"> 
                <source srcset="<%= image_path("#{project.image_address}") %>" type="image/jpg">
                <img src="<%= image_path("#{project.image_address}") %>" class="w-full" alt="<%= project.image_alt %>" />
              </picture>
            </div>
            <p class="leading-normal mx-auto normal-font <%= project.color %> text-lg w-3/4"><%= project.description %></p>
            <h3 class="normal-font mx-auto text-lg px-2 <%= project.color %>">Built with <%= project.framework%></h3>
          </div>
        </a>
        </div>
      <% end %>
    <% end %>
  </div>
</section>