<section class="projects-skills bg-gray-200 pt-16 pb-0 sm:py-16 w-full px-4">
  <div class="language-stats mb-8 sm:mb-16">
    <%= render partial: "language_bar/language_bar", locals: {languageStats: @languageStats} %>
  </div>
</section>
<section class="projects container mx-auto">
  <h1 class="font-normal normal-font pt-16 text-center burgandy">My Projects</h1>
  <h4 class="text-center normal-font pt-4">
    <a href="https://github.com/AlextheYounga" class="no-underline hover:underline text-black" target="blank" rel="nofollow">github.com/AlextheYounga</a>
  </h4>
  <div class="flex flex-wrap">
    <% if @projects.any?
      then %>
      <% @projects.each do |project| %>
        <div class="md:w-1/2 w-full px-8">
          <div class="project-container border border-gray-300mx-8 block my-8 sm:my-16 rounded shadow hover:shadow-lg normal-font">
            <% if master_logged_in? %>
              <a href="<%= edit_project_path(project) %>" class="absolute bg-white edit-project-link no-underline px-3 py-2 right-0 rounded-b shadow text-blue-600 top-0 z-10 hover:underline">Edit</a>
            <%end %>
            <a href="<%= project.project_link%>" target="blank" rel="nofollow" class="no-underline">
              <div class="project-details bg-gray-200 h-full py-8">
                <h2 class="font-normal text-center text-black"><%= project.title%></h2>
                <div class="image py-4 mx-auto">
                  <% if (project.screens.attached?) %>
                    <picture>
                      <source srcset="<%= project.get_webp_attachment %>" type="image/webp">
                      <source srcset="<%= project.get_jpeg_attachment %>" type="image/jpg">
                      <img src="<%= project.get_jpeg_attachment %>" class="w-full" alt="<%= project.image_alt %>"/>
                    </picture>
                  <% else %>
                    <picture>
                      <source srcset="<%= image_path("#{project.image_address}.webp") %>" type="image/webp">
                      <source srcset="<%= image_path("#{project.image_address}") %>" type="image/jpg">
                      <img src="<%= image_path("#{project.image_address}") %>" class="w-full" alt="<%= project.image_alt %>"/>
                    </picture>
                  <% end %>
                </div>
                <p class="leading-normal text-center text-sm normal-font pb-4 text-black">
                  <%= project.excerpt.present? ? project.excerpt : project.description %>
                </p>
                <h3 class="normal-font text-center pb-8 text-black">Built with
                  <span class="<%= project.assign_color %>"><%= project.framework%></span></h3>
              </div>
            </a>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
