<section class="projects">
  <h1 class="font-normal normal-font pt-16 text-center burgandy">My Projects</h1>
  <h4 class="text-center normal-font pt-4">
    <a href="https://github.com/AlextheYounga" class="no-underline hover:underline text-black" target="blank" rel="nofollow">github.com/AlextheYounga</a>
  </h4>
  <div class="flex flex-wrap">
    <% if @projects.any?
      then %>
      <% @projects.each do |project| %>
        <div class="md:w-1/2 w-full">
          <div class="project-container border border-grey-light mx-8 block my-8 sm:my-16 rounded shadow hover:shadow-lg normal-font">
            <a href="<%= project.project_link%>" target="blank" rel="nofollow" class="no-underline">
              <div class="project-details bg-grey-lighter h-full py-8">
                <h2 class="font-normal text-center text-black"><%= project.title%></h2>
                <div class="image py-4 mx-auto">
                  <picture>
                    <source srcset="<%= image_path("#{project.image_address}.webp") %>" type="image/webp" class="w-full" alt="<%= project.image_alt %>">
                    <source srcset="<%= image_path("#{project.image_address}") %>" type="image/jpg">
                    <img src="<%= image_path("#{project.image_address}") %>" class="w-full" alt="<%= project.image_alt %>"/>
                  </picture>
                </div>
                <p class="leading-normal text-center text-sm normal-font pb-4 text-black"><%= project.description %></p>
                <h3 class="normal-font text-center pb-8 text-black">Built with
                  <%= project.framework%></h3>
              </div>
            </a>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
<section class="projects-skills bg-grey-lighter py-16 w-full px-4">  
  <div class="language-stats mb-16">
   <%= render partial: "language_bar/language_bar", locals: {languageStats: @languageStats} %>
  </div>
</section>