<section class="posts">
  <div class="container mx-auto">
    <h1 class="fancy-font pt-16 text-green-darker text-center">Medium Articles</h1>

    <a href="https://medium.com/@AlextheYounger" target="_blank">
      <picture>
        <source srcset="<%= image_path("medium-banner.jpg.webp") %>" type="image/webp">
        <source srcset="<%= image_path("medium-banner.jpg") %>" type="image/jpg">
        <img src="<%= image_path("medium-banner.jpg") %>" class="py-16 mx-auto block" alt="alex younger developer medium writer hackernoon" />
      </picture>
    </a>
    <a class="bg-white text-center block border border-green-darker hover:bg-green-darkest hover:text-green-lightest mx-auto mb-4 no-underline normal-font py-3 rounded shadow-lg text-green-darkest w-48" 
        href="https://medium.com/@AlextheYounger/latest">
      View All
    </a>
  </div>

    <div class="text-center p-1">
      <% @posts.each do |post|%>
      <a class="no-underline" href=<%="#{post.link}"%></a> <div
        class="bg-white block border border-grey-light mx-auto my-8 py-10 rounded shadow hover:shadow-lg sm:w-3/4">
        <h1 class="fancy-font text-green-darker text-2xl"><%="#{post.title}"%></h1>
        <div class="leading-normal normal-font p-8 text-black text-lg">
          <%= sanitize(truncate(strip_tags("#{post.content}"), length: 280)) %>
        </div>
        <small class="block text-green-darker mx-auto px-6">
          Created <%= time_ago_in_words "#{post.pubDate}"%> ago
        </small>
    </div>
    </a>
    <% end %>
  </div>
</section>

<% content_for :javascripts do %>
<script>
  $('.desktop .nav-link').removeClass('burgandy').addClass('text-green-darker');
</script>
<% end %>