<div id="language-bar" class="text-lg mx-auto pb-8 px-8">  
  <span class="bar w-full mb-4">
    <% if languageStats.is_a? Hash then %>
      <% languageStats.each do |lang, val| %>
        <span style="width: <%= val %>%" class="bar-item <%= GithubLanguage.slugifyLanguage(lang) %>"></span>
      <% end %>
    </span>
    <ul class="flex flex-wrap">
      <% languageStats.each do |lang, val| %>
        <li class="lang-item w-48">
          <div class="item-wrapper inline-flex flex-nowrap no-underline text-sm mr-3">
            <svg class="octicon <%= GithubLanguage.slugifyLanguage(lang) %> octicon-dot-fill mr-2" viewbox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
              <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8z"></path>
            </svg>
            <span class="lang-name mr-1"><%= lang %></span>
            <span><%= val %>%</span>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
  <div class="float-right italic">
    <small>Pulled directly from Github with my
      <a class="burgandy" href="https://github.com/AlextheYounga/github_language_statistics" rel="nofollow">gem
      </a>
    </small>
  </div>
</div>
