<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'alextheyounger.me' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+SC&display=swap" rel="stylesheet">

    <% if master_logged_in? %>
      <%= render 'partials/admin_nav' %>
    <% end %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class="flash-msg fixed <%= type %> rounded p-3 mx-auto w-3/4 right-0 left-0 z-50 text-lg my-2">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>    
      
  </body>
  <%= yield :javascripts %>
</html>